/* initial setting */
* {
   padding: 0;
   margin: 0;
   box-sizing: 0;
}

/* persion number font setting */
.sample_farsi_digits {
   font-feature-settings: "ss01";
}

.sample_tabular_numbers {
   font-feature-settings: "tnum";
}

/* custom class */
:root {
   --primary-main: #3e8df7;
   --secondary-main: #f5be41;
   --primary-light: #5da0fb;
   --secondary-light: #f5cd70;
   --primary-dark: #1c79f6;
   --scondary-dark: #f8b214;
   --neutral-25: #f9f9f9;
   --nuetral-50: #eaeaea;
   --nuetral-100: #bdbdbf;
   --nuetral-200: #9d9d9f;
   --nuetral-300: #707174;
   --nuetral-400: #555559;
   --nuetral-500: #2a2b2f;
   --white-color: #ffffff;
   --black-color: #000000;

   --primary-font: "Vazirmatn", sans-serif;

   --transition-color: color 0.3s;
   --transition-background: background-color 0.3s;
   --transiton-border: border 0.3s;
   --transition-transform: transform 0.3s;

   --shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.16);
   --fade: fade-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* body */
body {
   font-family: var(--primary-font);
   font-size: 16px;
   font-weight: 400;
   direction: rtl;
   line-height: 1.8;
   color: var(--black-color);
   background-color: var(--white-color);
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   width: 100%;
   height: 100%;
   vertical-align: middle;
}

ul {
   list-style: none;
}

input,
textarea,
select {
   font: inherit;
   width: 100%;
}

input::placeholder,
textarea::placeholder {
   color: inherit;
}

button {
   font: inherit;
}

/* Desktop Typography */
.h1-desktop {
   font-size: 2.5rem;
   font-weight: 900;
}
.h2-desktop {
   font-size: 1.75rem;
   font-weight: 700;
}
.h3-desktop {
   font-size: 1.25rem;
   font-weight: 700;
}
.subtitle-desktop {
   font-size: 1.125rem;
   font-weight: 500;
}
.btn-desktop {
   font-size: 1rem;
   font-weight: 700;
}
.caption-desktop {
   font-size: 1.22rem;
   font-weight: 500;
}
.overline-desktop {
   font-size: 0.75rem;
   font-weight: 500;
}
/* Mobile Typography */
.h1-mobile {
   font-size: 2rem;
   font-weight: 900;
}
.h2-mobile {
   font-size: 1.35rem;
   font-weight: 700;
}
.h3-mobile {
   font-size: 1.125rem;
   font-weight: 700;
}
.subtitle-mobile {
   font-size: 1rem;
   font-weight: 500;
}
.body-mobile {
   font-size: 0.875rem;
   font-weight: 400;
}
.btn-mobile {
   font-size: 1.5rem;
   font-weight: 700;
}
.caption-mobile {
   font-size: 0.75rem;
   font-weight: 500;
}
.overline-mobile {
   font-size: 0.625rem;
   font-weight: 500;
}

button {
   transition-duration: 0.4s;
   cursor: pointer;
}

.btn-hover:hover {
   background-color: #e0f5f8;
}
